$primary-bg: #222222;
$primary-text: #f7f7f7;
$accent-text: #5dc2af55;
$completed-text:  #5dc2af55;
$active-text: #d9d9d9;
$mute-color: #696969;
$footer-text: #777777;
$main-border: #4b4b4b;
$cancel: #cc9a9a;
$cancel-hover: rgb(175, 91, 94);
$footer-selected: rgba(175, 91, 94, 0.6);
$footer-hover: rgba(175, 91, 94, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.2);
$shadow-dark2: rgba(0, 0, 0, 0.1);
$shadow-dark3: rgba(0, 0, 0, 0.03);
$shadow-dark4: rgba(0, 0, 0, 0.01);
$shadow-light: #f6f6f6;
